__pyicache__
*.pyc
.install
.config/ranger/plugins
.config/nvim/autoload/plug.vim
.local/share/fonts/**/.uuid
unix/tmux/plugins/tmux-sensible/
unix/tmux/plugins/tmux-yank/
unix/tmux/plugins/vim-tmux-navigator/
